.question-suggestion-container {
  display: flex;
  flex-direction: column;

  grid-row-start: qsl-top;
  grid-row-end: qsl-end;
  padding: 1.9rem 1.5rem 2.1rem;
  margin-right: 1.2rem;
  margin-left: 1.2rem;

  background: #ffffff;
  box-shadow: 0px 16px 32px rgba(55, 58, 80, 0.1),
    0px 8px 16px rgba(55, 58, 80, 0.1), 0px 4px 8px rgba(55, 58, 80, 0.1),
    0px 2px 4px rgba(55, 58, 80, 0.1), 0px 1px 2px rgba(55, 58, 80, 0.1);
  border-radius: 4px;

  font-size: 14px;

  span {
    padding: 0 0.1rem 0 0.3rem;
    margin-bottom: 1.6rem;
  }

  h2 {
    margin-bottom: 0.7rem;
  }

  .ask-this-question {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    background: #e5e6ea;
    border-radius: 0.4rem;
    padding: 1.55rem;
    margin: 0.8rem 0;

    font-size: 1.4rem;
    font-weight: 500;
    color: #484c7a;
  }
}
