:root{
  //autocomplete css var
  --aa-spacing-factor: 1.2;
  --aa-icon-size: 18px;
  --aa-primary-color: rgb(80, 70, 229);
  --aa-selected-color: rgba(80, 70, 229,.1);
  --aa-icon-color:rgb(209, 213, 219);
  --aa-text-color: rgb(55, 65, 81);
  --aa-content-text-color: rgb(149, 159, 177);
}